{% extends "base.html" %}

{% include 'refugee/nav.html' %}
{% block body %}

<div class="container-fluid" style="background-color:#ecf0f1;">

  <div class="row">

    <section class="col-sm-10" >
      <div class="page-header jumbotron" style="background-color:white; min-height: 600px;">
        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="row">
                 <h4> Profile Settings </h4>
              </div>
              <div class="row">
                <form>
                  <div class="form-group">
                  <input type="text" class="form-control" id="usr" placeholder="Language">
                  </div>

                </form>

              </div>
            </div>

      </div>
      </div>
    </div>
    </section>
    </div>




  </div>


</div>



{%endblock%}
